<br>

<div class="row">
    <div class="col-md-6">
        <table style="width:100%">
            <tr style="background-color:#6b4c6d">
              <th>#</th>
              <th>Name</th>
              <th>Note</th>
              <th>Create</th>
              <th>Action</th>
            </tr>
            <tr *ngFor="let category of categoryList.categoryViewModel ; let i = index">
              <td>{{i+1}}</td>
              <td>{{category.categoryName}}</td>
              <td>{{category.note}}</td>
              <td>{{category.create | date}}</td>
              <td>
                <button type="button" class="btn btn-outline-dark btn-sm" (click)="getCategory(category)">Edit</button>
              </td>
            </tr>
          </table>
    </div>
        <div class="col-md-6">
           <div class="card"  style="border: 1px solid #6b4c6d; background-color: #99b8e3">
            <div class="card-header">               
                <h3>Category Create</h3>
            </div>
              <div class="card-body">
                  <form  class="col-md-12 form-group" [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
                      <div class="form-group">
                          <label for="categoryName">Category Name</label>
                          <div>
                            <input type="text" class="form-control" id="categoryName" formControlName="categoryName" placeholder="Category Name">
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="note">Note</label>
                          <div>
                            <input type="text" class="form-control" id="note" formControlName="note" placeholder="Note">
                          </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" [hidden]="isUpdate" class="btn btn-outline-success btn-sm">Save</button>
                            <button type="submit" [hidden]="!isUpdate" class="btn btn-outline-primary btn-sm">Update</button>
                            <button [hidden]="!isUpdate" class="btn btn-outline-danger btn-sm" (click)="cancleUpdate()" style="margin-left:3px">Cancel</button>
                        </div>
                </form>
              </div>
              
           </div>
        </div>
</div>


