<br>
<!-- <div class="container"> -->
  <div class="row" >
    <div class="col-md-8">
      <div class="card" style="border: 1px solid #6b4c6d; background-color: #99b8e3">
        <div class="card-header">
          <h3>Sale Product Add</h3>
        </div>
        <div class="card-body">
          <input id="typeahead-basic" type="text" class="form-control" placeholder="Search Product" 
            [ngbTypeahead]="search" [resultFormatter]="formatter" [inputFormatter]="format"/>
                <div>
                 
                </div>         
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card"  style="border: 1px solid #6b4c6d; background-color: #99b8e3">
        <div class="card-header">               
            <h3>Sales Bill</h3>
        </div> 
    </div>
  </div>
<!-- </div> -->