.row > div{
    /* margin:5px; */
    /* border: 1px solid #656565; */
}

.form-control {
    background-color: #98b8e2;
    border: 1px solid #6b4c6d;
    color: black;
}

.dropdown-item, .dropdown-item{
    background-color: #6b4c6d;
}

.card-header{
    background-color: #6b4c6d;
}